.large-title {
    font-size: 3em;
    line-height: 1.2;
}

.md-title {
    vertical-align: middle;
    display: inline-block;
}

mat-toolbar-row {
    text-align: center;
    display: inline-block;    
}