<div>
  <mat-grid-list cols="4" rowHeight="1:1" gutterSize="2vh">
    <mat-grid-tile *ngFor="let p of products">
      <mat-card class="product-card">
        <mat-card-header>
          <mat-card-title>{{ p.title }}</mat-card-title>
          <mat-card-subtitle>{{ p.type }}</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          [src]="p.imageUrl"
          class="tile-image"
          alt="{{ p.imageAlt }}"
        />
        <mat-card-content>
          <p>
            {{ p.description }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <!-- <button mat-button>More info</button> -->
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
