@import "theme.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-toolbar .mat-button-base {
  margin-left:0.5em;
  background: red;
}
